# ignore vene
.venv/

# ignore Python and Jupyter cache
__pycache__/
.ipynb_checkpoints/

# ignore macOS file
__MACOSX/

# !!! ignore all eve !!!
*.env

# ignore dats base
*.sqlite

# ignore some test file
old_version.py
task.ipynb
tests.py